<th:block th:fragment="detail">
    <div class="mt-5 container">
        <div class="card text-center" th:each="pizza : ${pizze}">
            <div class="card-header">Dettagli sulla pizza</div>
            <div class="mt-4">
                <img class="detail-img" th:src="${pizza.photo}" alt="immagine_pizza">
            </div>
            <div class="card-body">
              <h5 class="card-title" th:text="${pizza.name}"></h5>
              <p class="card-text" th:text="${pizza.description}"></p>
              <a th:href="@{/homepage}" class="btn btn-primary">Go back</a>
            </div>
        </div>
    </div>
</th:block>