<th:block th:fragment="navbar">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/homepage}">
        <img th:src="@{/img/pizza_logo.png}" alt="Logo" width="90" class="zoom-object d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page"  th:href="@{/homepage}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/ingredients}">Ingredients</a>
          </li>
        </ul>
        <div class="d-flex" th:if="${isHome}">
          <div class="dropdown me-3 mt-1">
            <a class="dropdown-toggle btn btn-sm" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-filter fa-l" style="color: #ffffff;"></i>
            </a>
            <div class="dropdown-menu bg-body-secondary">
              <form class="container" th:action="@{/homepage/search-price}" method="get" role="search">
                <label for="minPrice">Min Price</label>
                <input id="minPrice" class="d-flex my-2 form-control" name="minPrice" type="number" min="0" step="0.1">
                <label for="maxPrice">Max Price</label>
                <input id="maxPrice" class="d-flex my-2 form-control" name="maxPrice" type="number" min="0" step="0.1">
                <input type="submit" value="Search" class="d-flex justify-content-end btn btn-sm btn-outline-dark">
              </form>
            </div>
          </div>
          <form th:action="@{/homepage/search}" method="get"  class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</th:block>